cffi==1.15.1
chardet==5.1.0
cryptography==41.0.3
et-xmlfile==1.1.0
greenlet==2.0.2
lml==0.1.0
opengauss-sqlalchemy==2.1.0
openpyxl==3.0.10
psycopg2-binary==2.9.6
pycparser==2.21
pyexcel==0.6.7
pyexcel-io==0.6.6
pyexcel-xls==0.7.0
pyexcel-xlsx==0.6.0
PyMySQL==1.1.0
python-dateutil==2.8.2
six==1.16.0
SQLAlchemy==1.4.48
texttable==1.6.7
xlrd==2.0.1
xlwt==1.3.0
typing-extensions==4.7.1
